<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tableau</title>
</head>
<body>
    <ul class="days">
        <li><a href="#">Monday</a></li>
        <li><a href="#">Tuesday</a></li>
        <li><a href="#">Wednesday</a></li>
        <li><a href="#">thursday</a></li>
        <li><a href="#">Friday</a></li>
        <li><a href="#">Saturday</a></li>
        <li><a href="#">Sunday</a></li>
    </ul>
    <table>
        <thead>
            <th>Step</th>
            <th>Required Time (min)</th>
        </thead>
        <tbody>
            <tr>
                <td>Unploading</td>
                <td>211</td>
            </tr>
            <tr>
                <td>Checking Document</td>
                <td>32</td>
            </tr>
            <tr>
                <td>Separation</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Booking</td>
                <td>159</td>
            </tr>
            <tr>
                <td>Labeling</td>
                <td>320</td>
            </tr>
            <tr>
                <td>Paletization</td>
                <td>420</td>
            </tr>
            <tr>
                <td>PutAway</td>
                <td>990</td>
            </tr>
            <tr>
                <td>Archiving</td>
                <td>25</td>
            </tr>  
        </tbody>
        <tfoot>
            <tr>
                <td>Total Time</td>
                <td>2613</td>
            </tr>
            <tr>
                <td>Number of strokeepers Required</td>
                <td>6</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>