* {
  margin: 0;
  padding: 0;
}

.pages {
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 50px;
}
.pages li {
  display: inline-block;
}
.pages li a {
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  padding: 10px 20px;
  font-size: 12pt;
}
.pages li .active {
  background-color: #aaa;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.container .weekSchedule {
  flex: 1;
}
.container .weekSchedule h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container .LoadingCalculation {
  flex: 1;
}
.container .LoadingCalculation h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container div div {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.container div div a {
  color: #000;
  font-size: 12pt;
  background-color: #ddd;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

/* Statistics Page styles */
