* {
  margin: 0;
  padding: 0;
}

.pages {
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 50px;
}
.pages li {
  display: inline-block;
}
.pages li a {
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  padding: 10px 20px;
  font-size: 12pt;
}
.pages li .active {
  background-color: #aaa;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.container .weekSchedule {
  flex: 1;
}
.container .weekSchedule h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container .LoadingCalculation {
  flex: 1;
}
.container .LoadingCalculation h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container div div {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.container div div a {
  color: #000;
  font-size: 12pt;
  background-color: #ddd;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

/* Statistics Page styles */
.days {
  text-align: center;
  margin-bottom: 50px;
}
.days li {
  display: inline-block;
}
.days li a {
  color: #000;
  font-size: 14pt;
  background-color: #ddd;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bolder;
}
table {
  border-collapse: collapse;
  font-size: 12pt;
}
table td,
table th {
  border: 1px solid #000;
  padding: 10px 20px;
}

table thead {
  color: rgb(1, 176, 219);
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}
table tfoot tr td:first-child {
  background-color: #f00;
}
table tfoot tr td:nth-child(2) {
  background-color: #ff0;
}

.circle-wrap {
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}
.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}
